.root {
  background-color: #b8c4bb;
}
.s-btn {
  padding: 2vw;
  color: #663f46;
  border-radius: 10px;
  border: 2.5px solid #663f46;
  margin: 2px 2px 5px;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.s-btn-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e8f7ee;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 20vw;
  height: 90vh;
  flex-wrap: nowrap;
  overflow: visible;
}
